<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="b" >
</head>
<body>
    <!-- <h1>Home page</h1>-->
     <div class="container-fluid" style="border-style: solid;">
        <h1>Learning container</h1>
     </div>
     <div class="mb-3">
        <label for="input2" class="form-label">Max Value:</label>
        <label type="number" name="min" class="form-control" id="input1" placeholder="maximum">
    </div>
    <div class="/range">
        <label for="input1" class="form-label">Min Value:</label>
        <label type="number" name="max" class="form-control" id="input2" placeholder="Minimum"></label>
    </div>
    <div class="mb-3">
        <label for="submit" class="btn btn-danger">Suubmit</label>

    </div>
    
</body>
</html>